<html>
<head>
	<title> Display of Database</title>
</head>
<body>
	<h1>Todo Database (km, opentime,closetime) </h1>
	{% for item in items %}
  		<p> {{ item.km }} || {{ item.open_time}} || {{item.close_time}} <p>
	{% endfor %}
</body>
</html>